<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Список контроллеров</title>
    </head>
    <body>
        <h1>Список контроллеров</h1>
        <p>
            <li><a href="http://localhost:8080/example">http://localhost:8080/example</a> - ExampleController.getExample();</li>
            <li><a href="http://localhost:8080/index">http://localhost:8080/index</a> - ExampleController.getIndex();</li>
            <li><a href="http://localhost:8080/vacancies">http://localhost:8080/vacancies</a> - VacancyController.getAll(Model model);</li>
            <li><a href="http://localhost:8080/vacancies/create">http://localhost:8080/vacancies/create</a> - VacancyController.getCreationPage();</li>
            <li><a href="http://localhost:8080/candidates">http://localhost:8080/candidates</a> - CandidateController.getCreationPage();</li>
            <li><a href="http://localhost:8080/candidates/create">http://localhost:8080/candidates/create</a> - CandidateController.getAll(Model model);</li>
        </p>
    </body>
</html>